@import "tailwindcss";

@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark, .dark *));

body {
  background-color: #f1f5f9;
}

.dark body {
  background-color: #020617;
}

.active {
  background-color: #1f2937;
  border-radius: 16px;
  color: white;
  width: 100%;
}